@import "~bulma/sass/utilities/_all";

// Custom variables

// Override Bulma variables
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

@import "~bulma";
